h1, h2 {
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: Lucida Sans Unicode, Helvetica, Arial, sans-serif;
    text-decoration: underline;
    letter-spacing: 0.25em;
}

h2 {
    font-size: 18pt;
}

h1 {
    font-size: 22pt;
    text-align: center;
}

body {
    color: #404040;
    font-size: 11pt;
    background-image: url(recipeImages/silverware.jpg);
    background-attachment: fixed;
}

a {
    color: #A4A400;
}

.deleted-text {
    text-decoration: line-through;
}

pre {
    font-family: monospace;
    text-align: right;
}

blockquote {
    background-color: #FFFFA8;
    font-style: italic;
}

ul>li {
    list-style-image: url(recipeImages/pie_icon.gif);
}
